

#body.home {
  background: #f89406;
}

#body.vehicle {
  background: #468847;
}


#body.standard {
  background: #999999;
}


#body.page {
  background: #d5d5d5;
}

#body.news {
  background: #d5d5d5;
}