
.layout-home {
  background: $layout1 !important;
}

.layout-standard {
  background: $layout2 !important;
}

.layout-vehicles {
  background: $layout3 !important;
}

.layout-vehicle {
  background: $layout3 !important;
}

.layout-news {
  background: $layout4 !important;
}

.layout-dealers {
  background: $layout5 !important;
}

.layout-layout7 {
  background: $layout0 !important;
}

.layout-layout8 {
  background: $layout0 !important;
}

.layout-layout9 {
  background: $layout0 !important;
}

.layout-default {
  background: $layout9 !important;
}

footer {
  background: #fff;
  opacity:0.4;
  filter:alpha(opacity=40);
}