---
title: Welcome to BAIC
layout: home
mockup: home
---      

.hero-unit
  %h1 Home page
  %p This is the main landing page. It should display an overview of the brand and services offered on this website.
  
.row-fluid
  .span12
    %h2 Contents

.row-fluid
  .span4
    %h3 Topics
    %ul
      %li Promotion of the month
        
  .span4
    %h3 Previews & Links
    %ul
      %li Top3 News
  .span4
    %h3 Images & Videos
    %ul
      %li Slideshow
      %li News

