
.clearfix

.prefooter

#footer

  .container
    %footer
      .links
        .row
          - 4.times do |num|
            .span3
              %h3= lorem.words(2).capitalize
              %ul
                - 4.times do |i|
                  %li= link_to lorem.words(3).capitalize, '#'
      
      .copyright
        %p
          Copyright &copy; BAIC 2013 All rights reserved &middot; 
          = link_to 'Legal & Privacy', '#'
          &middot;
          = link_to 'Terms', '#'