.pull-right{:style => 'z-index:200;margin:5px 5px'}
  =link_to 'English', '/en'
  |
  = link_to '中文','/zh'
.well.sidebar-nav

  .tree
    %ul
      %li 
        %span.layout-home=link_to I18n.t("nav.home"), "/#{I18n.locale}/pages/home.html"
        = partial :sitemap_node, :locals => {:nodes => data.navigation, :parents => [], :template => 'standard', :layout => 'default' }
            
        
        