---
title: Middleman is Watching
body_class: index
---


.hero-unit
  %h1 Hello World!
  %p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
  =image_tag lorem.image('600x200')


.row
  .span4
    %h2=lorem.word
    %p=lorem.paragraph

  .span4
    %h2=lorem.word
    %p=lorem.paragraph

  .span4
    %h2=lorem.word
    %p=lorem.paragraph

.row
  .span12
    %p=locale

 